//
// user.scss
// Use this to write your custom SCSS
//

.description-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 5;
}

.description.expanded {
  -webkit-line-clamp: unset;
}

.show-more-button {
  font-size: 0.8rem;
  &::after {
    content: "\F0140";
    font-family: $font-material-design;
    font-size: 14px;
    color: $gray-500;
    font-weight: 900;
  }
}

.show-more-button.expanded::after {
  content: "\F0143";
}
