//
// user.scss
// Use this to write your custom SCSS
//

.description-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 5;
}

.description.expanded {
  -webkit-line-clamp: unset;
}

.show-more-button {
  font-size: 0.8rem;
  &::after {
    display: block;
    content: "\F0140";
    border-top: transparent;
    font-family: $font-material-design;
    border-top: transparent;
    vertical-align: middle;
    float: right;
    font-size: 14px;
    color: $gray-500;
    border: 0 solid transparent;
    font-weight: 900;
    line-height: 1;
}
}
