  <!-- footer section -->
  <div class="footer pt-14 @@classList">
    <div class="container">
      <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-4 col-6">
          <!-- footer widget  -->
          <div class="mb-14">
            <h4 class=" mb-3 @@text">Explore Rentkit</h4>
            <div>
              <ul class="list-unstyled">
                <li><a href="#" class="text-reset lh-lg">List your property</a></li>
                <li><a href="#" class="text-reset lh-lg">Book with Confidence</a></li>
                <li><a href="#" class="text-reset lh-lg">Trust & Safety</a></li>
                <li><a href="#" class="text-reset lh-lg">Vacation rental guides</a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-4 col-6">
          <!-- footer widget  -->
          <div class="mb-14">
            <h4 class=" mb-3  @@text" >For Owner</h4>
            <div>
              <ul class="list-unstyled">
                <li><a href="#" class="text-reset lh-lg">How it works</a></li>
                <li><a href="#" class="text-reset lh-lg">Pricing</a></li>
                <li><a href="#" class="text-reset lh-lg">Join as Owner</a></li>
                <li><a href="#" class="text-reset lh-lg">Help centre</a> </li>
                <li><a href="#" class="text-reset lh-lg">Mobile App</a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-4 col-6">
          <div class="mb-14">
            <h4 class=" mb-3  @@text">Company</h4>
            <div>
              <ul class="list-unstyled">
                <li><a href="#" class="text-reset lh-lg">About us</a></li>
                <li><a href="#" class="text-reset lh-lg">Careers</a></li>
                <li><a href="#" class="text-reset lh-lg">Clients</a></li>
                <li><a href="#" class="text-reset lh-lg">Team</a> </li>
                <li><a href="#" class="text-reset lh-lg">Help Center</a></li>
                <li><a href="#" class="text-reset lh-lg">Press</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- footer widget  -->
        <div class="col-xl-2 col-lg-2 col-md-4 col-6">
          <div class="mb-14">
            <h4 class=" mb-3  @@text">Social</h4>
            <div>
              <ul class="list-unstyled">
                <li><a href="#" class="text-reset lh-lg">Facebook</a></li>
                <li><a href="#" class="text-reset lh-lg">Twitter</a></li>
                <li><a href="#" class="text-reset lh-lg">Linkedin</a></li>
                <li><a href="#" class="text-reset lh-lg">Google</a></li>
                <li><a href="#" class="text-reset lh-lg">Instagram</a></li>
              </ul>
            </div>
            <!-- footer widget  -->
          </div>
        </div>
        <!-- footer widget  -->
        <div class="col-xl-4 col-lg-4 col-md-8 col-12">
          <div class="mb-14">
            <h4 class=" mb-3  @@text">Rentkit deals in your inbox ?</h4>
            <p class="text-reset  ">Get special offers, travel inspiration, and more from Rentkit </p>
            <form>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="subscriber">
                <span class="btn btn-primary" id="subscriber">Subscribe</span>
              </div>



            </form>
            <!-- footer widget  -->
          </div>
        </div>
        <div class="col-md-12 col-12">
          <p class="fs-6 text-gray-500">© 2021 Rentkit. All rights reserved.</p>
        </div>
      </div>
      <!-- tiny footer  -->
      <!-- footer section -->
    </div>
    <!-- footer section -->
  </div>