// Graphical variables
@import "config/fonts";
@import "config/variables";
@import "config/user";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/functions";
@import "font-awesome";
@import "flag-icon";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "vendor/index";
@import "utilities/utilities";


.text-reset {
  color: inherit;
}

.step {
  position: relative;

  &::after {
      position: absolute;
      width: 100%;
      height: 2px;
      content: "";
      border-bottom: 2px dashed $gray-300;
      top: 0;
      z-index: -1;
      margin: 39px 0px;
      @media (max-width: 990px) {
          display: none;
      }
  }
}
